<div id="body">

<h1>There are eligible monsters in your area!!!!!</h1>


    <% @profiles.each do |p| %>
        <li><a href="/profiles/<%=p.id%>"><%= p.name %> - <%= p.species %></a></li>
    <% end %>


</div>