<div id="body">

<form action="/profiles" method="post">
    <p>Name:<input type="text" name="name"></p><br/>
    <p>Species:<input type="text" name="species"></p><br/>
    <p>Age:<input type="text" name="age"></p><br/>
    <p>Bio:<textarea id="bio" name="bio"></textarea></p><br/>
    <input type="submit">
</form>

</div>