body {
    background-color: #0C1602; 
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 { 
    font-family: 'Creepster', cursive;
    font-size: 48px;
    color: green;
}

h2, h3, h4, p {
    font-family: 'Source Sans Pro', sans-serif;
    color: #0C1602;
}

a:link {
    font-family: 'Creepster', cursive;
    color: #8E2BA2;
}

a:visited {
    font-family: 'Creepster', cursive;
    color: green;
}

#nav {
    background-color: #BDC7B4;
    padding: 10px 0px 5px 0px;
    width: 80%;
    margin: auto;
}

#header {
    color: green;
    background-color: #CED8C4;
    padding: 10px 0px 5px 0px;
    width: 80%;
    margin: auto;
}

.container {
    background-color: #ADBA9F;
    margin-top: 20px;
    padding: 10px 0px 5px 0px;
    width: 80%;
    margin: auto;
}

