<h1>Welcome to your home page, <%= @user.username %>! We're glad you could make it.</h1>

<h2>Here are the profiles you've made:</h2>

<% @user.profiles.each do |p| %>
    <div>
    <a href="/profiles/<%=p.id%>"><%= p.name %></a>
    </div>
<% end %>

<a href="/logout">Log Out</a>
