<!DOCTYPE html>

<html>

<p>Welcome to MonstersConnect!</p>
<p>There are some lonely, single monsters in your area looking for their ghoul mates.</p>
<p>The only problem is that between terrorizing villages and hiding in closets and under beds, they haven't had much time to meet anyone.</p>
<p>We need you to be the best wing-person (or bat) you can be, and help our lonely monsters make top-notch profiles that would make any Bride of Frankenstein happy to swipe right.</p>
<p>Do you think you're up to the task?</p>
<br/>
<br/>
<p><a href="/login">Log in</a> or <a href="/signup">create an account</a> to make a profile for your monster of choice, and we'll email them after to let them know that their rusty new profile is ready for a spin!</p>
<br/>

</html>
