<!DOCTYPE html>

<html>

<h1>Grid Monsters</h1>
<h2>On the Web</h2>


<p>Welcome to Grid Monsters on the Web!</p>
<p>Last time we caught up with our Grid Monsters, they were sad authors interested only in having their books positively reviewed by unwitting users. This time around, they're ready to get back on the horse and find their Ghoul Mates</p>
<p>We need you to be the best wing-person (or bat) you can be, and help our lonely monsters make top-notch profiles that would make any Bride of Frankenstein happy to swipe right.</p>
<p>Do you think you're up to the task?</p>
<br/>
<br/>
<p><a href="/login">Log in</a> or <a href="/signup">create an account</a> to make a profile for your monster of choice, and we'll email them after to let them know that their rusty new profile is ready for a spin!</p>
<br/>

</html>
