<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MonstersConnect</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
  </head>
<body>

<body>

    <div>
        <h1>MonstersConnect</h1>
        <h4>"Where Monsters Meet"</h4>

    </div>

    <a href="/profiles">Profiles</a>

    <% if current_user %>
        <a href="/logout">Log Out</a>
        <a href="/profiles/new">Create a New Profile</a>
    <% end %>
    
    <% if !current_user %>
        <a href="/login">Log In</a>
    <% end %>

    <div class="container">
        <%= yield%>    
    </div>

</body>